<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/books/" ng-if="authentication.isAuth">Books<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/refresh" ng-if="authentication.isAuth">Refresh Token<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/login" ng-if="!authentication.isAuth">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li><button type="button" class="btn btn-danger btn-sm" ng-click="logOut()" ng-if="authentication.isAuth">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></button></li>
        </ul>
    </div>
</div>